
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <p style="font-display:block;font-size:50px">iPhone 13</p>
    <a href="@Url.Action("IPhone", "Products")">
        <img src="~/Images/Home iPhone.jpg">
    </a>
    <br>
    <br>
    <br>
    <br>
    <p style="font-display:block;font-size:50px">
        MacBook Pro
        <a href="@Url.Action("IPhone", "Products")">
            <img src="~/Images/MacBook Display.png">
        </a>
    </p>
    <br>
    <br>
    <br>
    <br>
    <p style="font-display:block;font-size:50px">Apple Watch</p>
    <a href="@Url.Action("IPhone", "Products")">
        <img src="~/Images/Home Watch.jpg" />
    </a>
    <br>
    <br>
    <br>
    <br>
    <p style="font-display:block;font-size:50px">iPad Pro</p>
    <a href="@Url.Action("IPhone", "Products")">
        <img src="~/Images/Home iPad.jpg" width="600" height="600">
    </a>
</center>